.catalog {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 50px;
  transition: ease all .5s;

  &__item {
    border: 1px solid;
    border-color: $bordersIcons;
    border-radius: 2%;
  }

  &__photo {
    width: 190px;
    height: 160px;
    padding: 4px;
  }
}

@media screen and (max-width: $breakpointMd) {
  .catalog {
    gap: 30px;
  }
}
