.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $headerBackgroundColor;
  padding: 0 30px;
  
  &__title {
    color: $headerTitle;
    font-weight: 300;
  }
}