@import '../scss/veriables.scss';
@import '../scss/header.scss';
@import '../scss/list.scss';
@import '../scss/catalog.scss';

body {
  margin: 0;
  padding: 0;
  color: $fontDefault;
  font-family: $colorBody;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: $breakpointXl) {
  .container {
    padding: 0 50px;
  }
}