@import 'variables.scss';
@import 'header.scss';
@import 'list.scss';
@import 'catalog.scss';
@import 'media.scss';

body {
  margin: 0;
  padding: 0;
  color: $colorBody;
  font-family: $fontDefault;
}

.container {
  max-width: $breakpointXl;
  margin: 0 auto;
  padding: 0 50px;
}

.show {
  display: block;
}

.lock {
  overflow: hidden;
}

.clicker {
  display: flex;
  justify-content: center;
  align-items: baseline
}

.clicker input {
  width: 40px;
  height: 50px;
}

.amount {
  font-size: 20px;
  color: #1a1a1a;
  margin: 20px;
}