@import 'variables.scss';
@import 'header.scss';
@import 'list.scss';
@import 'catalog.scss';
@import 'media.scss';

body {
  margin: 0;
  padding: 0;
  color: $colorBody;
  font-family: $fontDefault;
}

.container {
  max-width: $breakpointXl;
  margin: 0 auto;
  padding: 0 50px;
}

.show {
  display: block;
}

.lock {
  overflow: hidden;
}