// Fonts
$fontDefault: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// Colors
$colorBody: rgb(252, 251, 252);
$colorGrey: rgb(175, 175, 175);
$colorDarkGrey: rgb(117, 117, 117);
$colorBlack: rgb(26, 26, 26);
$colorWhite: rgb(255, 255, 255);
$headerTitle: rgb(232, 232, 227);
$bordersIcons: rgb(239, 239, 239);

$semiTransparentBlack:rgba(0, 0, 0, 0.5);

// Breakpoints
$breakpointXl: 1200px;
$breakpointMd: 768px;
$breakpointSm: 564px;